body {
    font-family: Arial, sans-serif;
    background-color: #242c33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(167, 167, 167);
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#display {
    font-size: 30px;
    margin: 20px 0;
}

.buttons button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

ul {
    margin-top: 15px;
    padding-left: 0;
}

ul li {
    list-style: none;
    background: #eaeaea;
    margin: 5px 0;
    padding: 5px;
}
